# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
metadata.json

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*
!.env.example

# IDEs
.vscode/
.idea/
.vs/
.slnx/
*.swp
*.swo
*.sln
